
  
  <!-- The Modal -->
  <div class="modal " id="simple-modal" >
    <div class="modal-dialog ">
      <div class="modal-content no-padding-margin">
  
        <!-- Modal Header -->
        <!-- <div class="modal-header">
          <h4 class="modal-title">Modal Heading</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div> -->
  
        <!-- Modal body -->
        <div class="modal-body no-padding-margin">
            <ul class="list-group ">
                <li class="list-group-item text-center"> <span class="text-danger">Report Inappropriate</span></li>
                <li class="list-group-item text-center"><span class="text-danger">Unfollow</span></li>
                <li class="list-group-item text-center">Go to post</li>
                <li class="list-group-item text-center">Share</li>
                <li class="list-group-item text-center">Copy Link</li>
                <li class="list-group-item text-center" data-dismiss="modal">Cancel</li>
            </ul>
        </div>
  
        <!-- Modal footer -->
      </div>
    </div>
  </div>