

  <nav class="navbar navbar-expand navbar-dark navbar-staic bg-dark navbar-custom">

	<div class="logo-content navbar-brand ">
		<img src="/assets/images/logo.jpg" alt="" class="logo-styes"> 
		<a class="company-brand" [routerLink]="['/events']">turnApp</a>
	</div>
	<br><br>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"> </span>
	</button>
  
	<div class="collapse navbar-collapse  text-center" id="navbarsExample02">
	  <ul class="navbar-nav mr-auto  content-to-center">
		<li class="nav-item active">
		  <a class="nav-link" [routerLink]="['/events']">Home <span class="sr-only">(current)</span></a>
		</li>
		<!-- <li class="nav-item">
		  <a class="nav-link" href="#">Profile</a>
		</li> -->
		<li class="nav-item">
		  <a class="nav-link" [routerLink]="['create-event']">Create</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#">Notifications
				<span class="badge badge-light">4</span>
		  </a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="#">Messages <span class="glyphicon glyphicon-envelope"></span> 
			<span class="badge badge-light">2</span>
			</a>
		</li>
 
	  </ul>

	  <div class="dropdown">
		<span class="btn btn-secondary dropdown-toggle options-btn" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			More
		</span>
		<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="#">Create event</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">Profile</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">Services</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">About us</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#">Logout</a>
		</div>
		</div>

	</div>

 
	
 
	


  </nav>