

.logo-content {
    display: inline-block;
    max-width: 200px;
    padding-left: 20px;
}

.navbar-custom {
    background-color: #eeb230 !important;
    color: white !important;
}


.company-brand {
    padding-left: 2%;
    color: black;
    font-weight: bold;
}

.content-to-center {
    margin:auto;
}

.logo-styes {
    /* margin-left: 20px; */
    width: 60px;
    border-radius: 100%;
}

.more-section {
    max-width: 200px;
}

.navbar-expand {
    flex-flow: wrap;
}

.options-btn {
    background-color: inherit !important;
}

#dropdownMenuButton {
    border: none;
}

.nav-item {
    border-right: 1px solid #d19b26;
}


@media only screen and (max-width: 600px) {
    .home {
      display: none;
    }
}

@media only screen and (max-width: 400px) {
    .logo-content {
        padding-left: 0px;
    }
}


@media only screen and (max-width: 320px) {
    .messages {
      display: none;
    }

}

