

.profile-pic-thumbnail {
    width: 50px;
    border-radius: 100%;
    padding: 6px;
}

.user-name {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

#dropdownMenuOffset {
    float: right;
    display: inline;
}

.break-card-item {
    display: inline-block;
    margin: 10px;
}

.card {
    width: 95%;
}


.post-fa-icon {
    font-size: 24px !important;
}

.pad-left {
    /* padding-left: 15px; */
}

.my-pos-icon1 {
    /* padding-left: 20px; */
}
.my-pos-icon2 {
    padding-left: 20px;
}

.my-pos-icon3 {
    float: right;
    padding-right: 10px;

}

.options {
    float: right;
    font-size: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.post_comment {
    border-radius: 10px;
    vertical-align: bottom;
    width: 70%;
}

.comment-btn {
    color: blue;
    border: 1px solid blue;
}

.comment-action {
    width: 100%;
}

.comment-text {
    width: 90%;
    vertical-align: bottom;
}

.comment-btn {
    width: 10%;
    min-width: 59px;
    margin-left: 8px;
}