 
    <!-- <div class="break-card-item"></div> -->
    <div class="card card-post">
        <div class="">
            <span class=" "> 
                <img [src]="post.user_details.user_prifile_pic" class="profile-pic-thumbnail" alt="Profile picture"> 
            </span>
            <span class=" ">
                <span class="user-name">{{ post.user_details.user_name }}</span>
            </span>
            <span class="options" modal-trigger>
                ...
            </span>

        </div>


        <!-- <img [src]="post.image_url" class="card-img-top" alt="nyege nyge pic"> --> 

        <div [id]="'carouselExampleIndicators' + post.id" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
              <div *ngFor="let image of post.image_url; let isFirst = first"  [class]="isFirst ? 'carousel-item active' : 'carousel-item'">
                <img class="d-block w-100" [src]="image" alt="First slide">
              </div>
            </div>
            <a *ngIf="post.image_url.length > 1" [title]="post.image_url.length" class="carousel-control-prev" [href]="'#carouselExampleIndicators' + post.id" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a *ngIf="post.image_url.length > 1" class="carousel-control-next" [href]="'#carouselExampleIndicators' + post.id" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


        <div class="card-body">
        <h5 class="card-title">{{ post.name }}</h5>
        <p class="card-text">
                {{ post.description }}
        </p>
        <div class="posted-on"> 2 days ago </div>
        <div class="container">
            <div class="my-pos-icons">
                <span class="my-pos-icon1">
                    <i class="fa fa-heart post-fa-icon pad-left"></i> 
                </span >
                <span class="my-pos-icon2">
                    <i class="fa fa-comment post-fa-icon pad-left"></i> 
                </span>
                <span class="my-pos-icon3">
                    <i class="fa fa-share post-fa-icon pad-left"></i>  
                </span>
            </div>
        </div>
        <div class="container">
            <div class="form-group">
                <div class="comment-action">
                    <textarea class="form-control comment-text" class="post_comment" rows="2" placeholder="Add a comment..."></textarea>
                    <button class="btn btn-default comment-btn">Post</button>
                </div>
                
                
            </div>
        </div>
        </div>
    </div>

    <simple-modal>
        <h1>This is my simple modal</h1>
    </simple-modal>

 
    