<!-- <li class="list-group-item"> -->
    <div class="break-card-item"></div>
    <div class="card">
        <div class="">
            <span class=" ">
                    <img [src]="post.user_details.user_prifile_pic" class="profile-pic-thumbnail" alt="Profile picture">
            </span>
            <span class=" ">
                <span class="user-name">{{ post.user_details.user_name }}</span>
            </span>

        </div>
        <img [src]="post.image_url" class="card-img-top" alt="nyege nyge pic">
        <div class="card-body">
        <h5 class="card-title">{{ post.name }}</h5>
        <p class="card-text">
                {{ post.description }}
        </p>
        </div>
    </div>
    

<!-- </li> -->
  
   
    